{% extends 'base.html.twig' %}

{% block title %}Registre-se
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">

                <h1>Registre-se</h1>

                {{ form_errors(userForm) }}

                {{ form_start(userForm) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.plainPassword.first, {label: 'Senha'}) }}
                {{ form_row(userForm.plainPassword.second, {label: 'Confirmar Senha'}) }}
                {{ form_row(userForm.name, {label: 'Nome'}) }}
                {{ form_row(userForm.cpf, {label: 'CPF'}) }}
                {{ form_row(userForm.phone, {label: 'Telefone'}) }}
                {{ form_row(userForm.birthday, {label: 'Data de Nascimento', value: ''}) }}
                {{ form_row(userForm.gender, {label: 'Gênero'}) }}

                <button type="submit" class="btn btn-primary">Cadastrar</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}
