{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('manager_workout') }}
{% endblock %}

{% block title %}
    <h1>Modelos Cadastrados</h1>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="row g-3 align-items-start">
                {% for workout in workouts %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span class="fw-bold">{{ workout.name }}</span>
                                <a href="#"
                                   class="text-muted text-decoration-none"
                                   data-bs-toggle="tooltip"
                                   title="Editar treino"
                                >
                                    {{ ux_icon('material-symbols:edit') }}
                                </a>
                            </div>

                            <div class="card-body overflow-auto">
                                {% if workout.workoutExercises is empty %}
                                    <p class="text-muted">Nenhum exercício</p>
                                {% else %}
                                    {% for we in workout.workoutExercises %}
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <div>
                                                {{ we.position }} – {{ we.exercise.name|title }}
                                                <small class="text-muted">
                                                    ({{ we.exerciseExecution.short }})
                                                </small>
                                            </div>

                                            <div class="d-flex gap-2">
                                                <button
                                                    class="btn btn-sm btn-icon open-exercise-modal"
                                                    title="Editar"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#exercise_modal"
                                                    data-workout-id="{{ workout.id }}"
                                                    data-workout-name="{{ workout.name }}"
                                                    data-we-id="{{ we.id }}"
                                                    data-we-position="{{ we.position }}"
                                                    data-we-exercise-id="{{ we.exercise.id }}"
                                                    data-we-exercise-execution-id="{{ we.exerciseExecution.id}}"
                                                >
                                                    {{ ux_icon('material-symbols:edit') }}
                                                </button>

                                                <a
                                                    href="#"
                                                    class="text-danger text-decoration-none"
                                                    data-bs-toggle="tooltip"
                                                    title="Excluir exercício"
                                                >
                                                    {{ ux_icon('material-symbols:delete') }}
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% endif %}
                            </div>
                            <div class="card-footer d-flex justify-content-start align-items-center">
                                <button
                                    class="btn btn-sm btn-secondary open-exercise-modal"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exercise_modal"
                                    data-workout-id="{{ workout.id }}"
                                    data-workout-name="{{ workout.name }}"
                                    data-we-id=""
                                    data-we-position=""
                                    data-we-exercise-id=""
                                    data-we-exercise-execution-id=""
                                >
                                    {{ ux_icon('material-symbols:add', { style: 'font-size: 1.4rem;' }) }}
                                    Exercício
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'manager/workout/components/_exercise_modal.html.twig' with{
        exercises: exercises,
        exerciseExecutions: exerciseExecutions
    } %}
{% endblock %}


