{{ form_start(exerciseForm, {attr: {id: 'exercise_form' }}) }}

{{ form_row(exerciseForm.name) }}

{{ form_row(exerciseForm.description) }}

<div class="modal-footer px-0 pb-0">
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Cancelar
    </button>

    <button type="submit"
            class="btn btn-primary">
        {{ isEdit ? 'Atualizar' : 'Adicionar' }}
    </button>
</div>

{{ form_end(exerciseForm) }}
