{% extends 'base.html.twig' %}

{% block title %}Meus Treinos{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% for name, items in workouts %}
            <div class="row card">
                <div class="card-body">
                    <h4 class="card-title fs-1">{{ name }}</h4>
                    <h6 class="card-subtitle fs-2">{{ items|length }} exercícios</h6>
                    <div class="d-flex flex-nowrap overflow-x-auto mt-3 pb-3">
                        {% for name_i, detalhes in items %}
                            <div class="card flex-shrink-0 shadow-sm border">
                                <div class="card-body d-flex flex-column">
                                    <img src="{{ asset('build/img/akd_generico.png') }}"
                                         class="card-img-top mt-1"
                                         alt="..."
                                         style="max-width: 25rem">
                                    <a href="{{ path(route('USER_WORKOUT')) }}" class="card-title btn btn-link fs-2">{{ name_i }}</a>
                                    <p class="card-text fs-6">Séries: {{ detalhes.serie }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

