{% extends 'base.html.twig' %}

{% block title %}Hello PerfilController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <h1>Olá {{ app.user.name }}</h1>
            <div class="col-md-4">

                {{ form_errors(userForm) }}

                {{ form_start(userForm) }}
                {{ form_row(userForm.name, {label: 'Nome'}) }}
                {{ form_row(userForm.cpf, {label: 'CPF'}) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.phone, {label: 'Telefone'}) }}
                {{ form_row(userForm.birthday, {label: 'Data de Nascimento'}) }}
                {{ form_row(userForm.gender, {label: 'Gênero'}) }}


                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                    <a href="{{ path('app_home') }}" class="btn btn-secondary me-4">Voltar</a>
                    <!-- Button trigger modal -->
                    <a href="{{ path('app_perfil_change_password') }}" class="btn btn-link">Alterar Senha</a>
                </div>
                {# Token de segurança para evitar o CSRF #}
                {{ form_widget(userForm._token) }}
                {# don't render unrendered fields #}
                {{ form_end(userForm, {render_rest: false}) }}
            </div>
        </div>
    </div>
{% endblock %}
